<html>
  <body>
    <form method="post" action="{% url 'get_time' %}">
      {% csrf_token %}
      <label>What</label>
      <br />
      <label for="stock_id">Stock list</label>
      <input type="text" name="stock_list" id="stock_list" value=""
             title="Stock ID with quantity. e.g.: 1CEB16: 12, EF7DAB: 1"/>
      <br />
      <label>Where</label>
      <br />
      <label for="warehouse_id">Warehouse ID</label>
      <input type="text" name="warehouse_id" id="warehouse_id" value="" title="Warehouse ID."/>
      <br />
      <input type="submit" value="Check" />
    </form>
  </body>
</html>
